<div class="d-flex">
<h3>Simple Airbnb</h3>
<button> <%= link_to "Add Flat", new_flat_path %></button>
</div>
<hr>
<div>
<h1>All our Flats</h1>
<p>All <%= @flats.count %> flats.</p>
</div>
<div class="container">
  <div>
    <% @flats.each do |flat| %>
    <h2><%= link_to flat.name, flat_path(flat) %></h2>
    <h3><%= flat.address %></h3>
    <h3><%= flat.number_of_guests %></h3>
    <h3><%= flat.price_per_night %></h3>
    <div>
      <p><%= link_to "More info", flat_path(flat) %></p>
      <p><%= link_to "Edit", edit_flat_path(flat) %></p>
      <p><%= link_to "Delete", flat_path(flat), data: {turbo_method: :delete, turbo_confirm: "R U sure?"} %></p>
    </div>
    <% end %>
  </div>
</div>
