<div class="container">
  <div>
    <h2><%= @flat.name %></h2>
    <h3><%= @flat.address %></h3>
    <h3><%= @flat.number_of_guests %></h3>
    <h3><%= @flat.price_per_night %></h3>
  </div>
  <button><%= link_to "Back to flats", flats_path %>
</div>
